.categorie-container {
    display: flex;
    flex-direction: column; 
    height: 100%;
    background: linear-gradient(to bottom, #11b4ac, aquamarine);
    position: relative;
    align-items: center;
    justify-content: center;
}

.categorie-text {
    display: flex;    
    position: relative;
    gap: 40px;
    border-left: 4px solid rgb(116, 130, 134);
    border-right: 4px solid rgb(116, 130, 134);
    border-radius: 103px 0px 109px 0px;   
    padding-right: 30px;
    padding-left: 30px;
}

.categorie-items {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #302e29;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .categorie-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .welcomming {
    align-items: center;
    justify-content: center;
    height: 200px;  
    color: rgb(41, 25, 25);
  }

  h1 {
    padding-top: 67px;
    font-size: 24px;
    color: #0a1133;    
  }

  
  .border-dashed {
    width: 100%;
    border-top: 8px dashed rgba(87, 87, 236, 0.76);
    margin-top: 2px; /* Espace entre les sections */
  }
  
