.container {
  border-top: 8px dashed rgba(87, 87, 236, 0.76);
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-grid {
  display: flex;
  justify-content: center;
  gap: 20px;  
  padding: 3%;
  background-color: aquamarine;
  /*border-bottom: 8px dashed rgba(87, 87, 236, 0.76);*/
}

.title-section{
  background-color: aquamarine;
  margin-top: 20px;
  background-color: rgb(12, 199, 199);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

